{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/UserAccount/drobdwon.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'js/plugin_activity.js' %}"></script>
    <script src="{% static 'js/comments.js' %}"></script>
    <script src="{% static 'js/update_status.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
    <title>Home</title>
    <style media="screen">
    div.container {
  margin-top: 10%
}
.nav-tabs>li>a{
  color: #337ab7;
}
body{
  background-color: #e8edf3;
}

    </style>
{% endblock %}

    {% block body %}
<div class="content" id="success" style="display: none; margin-top: -1%; margin-left: 40%; font-size: 30px;" >Securely<img src="{% static 'images/tick.png' %}" alt="">Saved</div>
    <div class="container" style=" width: 90%; background-color:#e8edf3">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="active"><a data-toggle="tab" href="#myTable1" style=" font-size: 16px; ">Pending Activities</a></li>
      <li><a data-toggle="tab" href="#myTable2" style=" font-size: 16px; ">Ongoing Activities</a></li>
      <li><a data-toggle="tab" href="#myTable3" style=" font-size: 16px; ">Completed Activities</a></li>
      </ul>
      <div class="tab-content container-fluid" style="width: 100%;background-color:white;">
      <a href="#" class="btn btn-success btn" onclick="myFunction()" style="width:5%; padding:5px; margin-left: 80%;"><span class="glyphicon glyphicon-print"></span>Print</a>
      <div id="myTable1" class="tab-pane fade in active">
      <table class="table table-striped table-hover table-bordered" cellspacing="0" width="100%" id="user_account_table">
        <thead style="text-align: center; background-color: rgb(51, 122, 183); color:white;">
          <tr>
            <th>No</th>
            <th>Active Description</th>
            <th>Assigned To</th>
            <th>Assigned By</th>
            <th>Activity Type</th>
            <th>Exceting Agency</th>
            <th>Action Required</th>
            <th>Assigned Date</th>
            <th>Deadline</th>
            <th>Associated with</th>
            <th>Settings</th>
          </tr>
        </thead>

        <tbody>
        {% include "Activities/pending_list.html" %}
        </tbody>

    </table>
    {% if 'administration' in type %}
    <button class=" btn btn-primary show-form" data-url="{% url 'register_activitiess' %}">
    <span class="glyphicon glyphicon-plus"></span>
    New Activity
    </button>
    {%endif%}
    </div>

    <div id="myTable2" class="tab-pane fade in ">
    <table class="table table-striped table-hover table-bordered" cellspacing="0" width="100%"id="user_account_table1" >
      <thead style="text-align: center; background-color: rgb(51, 122, 183); color:white;">
        <tr>
          <th>No</th>
          <th>Active Description</th>
          <th>Assigned To</th>
          <th>Assigned By</th>
          <th>Activity Type</th>
          <th>Exceting Agency</th>
          <th>Action Required</th>
          <th>Assigned Date</th>
          <th>Deadline</th>
          <th>Associated with</th>
          <th>progress</th>
          <th>Settings</th>
        </tr>
      </thead>

      <tbody>
        {% include "Activities/Ongoing_list.html" %}
      </tbody>
  </table>
  </div>


  <div id="myTable3" class="tab-pane fade in ">
  <table class="table table-striped table-hover table-bordered" cellspacing="0" width="100%"id="user_account_table3" >
    <thead style="text-align: center; background-color: rgb(51, 122, 183); color:white;">
      <tr>
        <th>No</th>
        <th>Active Description</th>
        <th>Assigned To</th>
        <th>Assigned By</th>
        <th>Activity Type</th>
        <th>Exceting Agency</th>
        <th>Action Required</th>
        <th>Assigned Date</th>
        <th>Deadline</th>
        <th>Associated with</th>
        <th>progress</th>
        <th>Settings</th>
      </tr>
    </thead>

    <tbody>
      {% include "Activities/completed_list.html" %}
    </tbody>
</table>
</div>


              </div>
              </div>

              <div class="modal fade in" id="modal-user">
                <div class="modal-dialog">
                  <div class="modal-content"></div>
                </div>
              </div>

              <div class="modal fade bd-example-modal-sm" id="modal-user1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog  modal-sm" style="margin-top:15%;">
                  <div class="modal-content"></div>
                </div>
              </div>
                <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
                <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
                <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
                <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
                <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>

                <script type="text/javascript">
                $(document).ready(function() {
                  $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
                    $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
                  } );

                $('table.table').DataTable( {
                  // scrollY:       200,
                    scrollCollapse: true,

                    buttons: [
                        'print'
        ]
                } );


                } );
                function myFunction() {
                  window.print();
}
                </script>
    {% endblock %}
