{% if 'normal' in type %}
{% for obj in pending_activities1 %}
{% if "pending" in obj.Status%}

<tr>
  <td>{{obj.id}}</td>
  <td>{{obj.Active_Description}}</td>
  <td>
  {% for assTo in obj.Assigned_To.all %}
  {{assTo}}
  <br>
  {%endfor%}
  </td>
  <td>{{obj.Assigned_By}}</td>
  <td>{{obj.Activity_Type}}</td>
  <td>{{obj.Exceting_Agency}}</td>
  <td>{{obj.Action_Required}}</td>
  <td>{{obj.Assigned_Date}}</td>
  <td>{{obj.Deadline}}</td>
  <td>{{obj.Associated_with}}</td>

</tr>
  {% endif %}
  {% endfor %}
  {% else %}
    {% for obj in pending_activities %}
    {% if "pending" in obj.Status%}

    <tr>
      <td>{{obj.id}}</td>
      <td>{{obj.Active_Description}}</td>
      <td>
      {% for assTo in obj.Assigned_To.all %}
      {{assTo}}
      <br>
      {%endfor%}
      </td>
      <td>{{obj.Assigned_By}}</td>
      <td>{{obj.Activity_Type}}</td>
      <td>{{obj.Exceting_Agency}}</td>
      <td>{{obj.Action_Required}}</td>
      <td>{{obj.Assigned_Date}}</td>
      <td>{{obj.Deadline}}</td>
      <td>{{obj.Associated_with}}</td>

      <td>
          <div class="dropup">
        <div class="spiners">
          <i class="fa fa-cog fa-spin fa-2x"style="margin-top:5px; margin-left:20px;color: rgb(51, 122, 183);"></i>
        </div>
        <div class="dropup-content">
          <button class=" btn default btn-xs blue show-form-update" data-url="{% url 'update_activitiess' obj.id %}" style=" position:relative; margin-top:10%">
          <span class="glyphicon glyphicon-pencil"></span>
    Edit
          </button>
          <button class=" btn default btn-xs black show-form-delete" style=" position:relative;" data-url="{% url 'delete_activitiess' obj.id %}">
            <span class="glyphicon glyphicon-trash"></span>
    Delete
          </button>
          <button class=" btn default btn-xs black show-form-dashboard" data-url="{% url 'show_dashboard' obj.id %}" style=" position:relative;">
            <span class="glyphicon glyphicon-dashboard"></span>
    Dashboard
          </button>
        </div>
      </div>
    </td>

    </tr>
      {% endif %}
      {% endfor %}
  {% endif %}
